@inherits LayoutComponentBase

<div class="d-flex" id="wrapper">

    <NavMenu />

    <div id="page-content-wrapper">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
