#detailWindowRow {
  height: 70vh;
  overflow: auto; }

.topnav .search-container {
  float: right; }

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none; }

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.topnav .search-container button:hover {
  background: #ccc; }

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none; }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px; }
  .topnav input[type=text] {
    border: 1px solid #ccc; } }

#myDiv {
  display: none;
  text-align: center; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#miniLoader {
  position: absolute;
  left: 45%;
  top: 20%;
  z-index: 0;
  width: 150px;
  height: 150px;
  margin: 0px 0 0 0px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.checkmarkLoader {
  position: absolute;
  left: 50%;
  top: 15%; }

#errormark {
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 20px; }

.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto; }

.hide {
  display: none; }

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3E6866;
  overflow-x: hidden;
  padding-top: 20px; }

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sa-icon.sa-success {
  border-color: #4CAF50; }

.sa-icon.sa-error {
  border-color: red; }

.sa-icon::before, .sa-icon::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg); }

.sa-icon::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px; }

.sa-icon::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px; }

.sa-icon .sa-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sa-icon.sa-success .sa-placeholder {
  border: 4px solid rgba(76, 175, 80, 0.5); }

.sa-icon.sa-error .sa-placeholder {
  border: 4px solid rgba(255, 0, 0, 0.5); }

.sa-icon .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg); }

.sa-icon.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

.sa-icon.sa-success {
  border-color: transparent; }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.animateErrorTip {
  animation: animateErrorTip 0.8s ease-in; }

.animateErrorLong {
  animation: animateErrorLong 0.8s ease-in; }

.sa-icon .sa-line {
  height: 5px;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sa-icon.sa-success .sa-line {
  background-color: #4CAF50; }

.sa-icon.sa-error .sa-line {
  background-color: red; }

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg); }

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg); }

.sa-icon.sa-error .sa-line.sa-tip {
  width: 47px;
  left: 25px;
  top: 23px;
  transform: rotate(45deg);
  transform-origin: top left; }

.sa-icon.sa-error .sa-line.sa-long {
  width: 47px;
  right: 24px;
  top: 23px;
  transform: rotate(-45deg);
  transform-origin: top right; }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateErrorTip {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 47px; } }

@keyframes animateErrorLong {
  0% {
    width: 0; }
  50% {
    width: 0; }
  75% {
    width: 0; }
  100% {
    width: 47px; } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg); } }

/*p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
}*/
.success {
  color: #73AF55; }

.error {
  color: #D06079; }

.circle-loader, .circle-loader-large {
  margin-bottom: 17.5px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #3498db;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%; }

.circle-loader {
  width: 35px;
  height: 35px; }

.circle-loader-large {
  width: 100px;
  height: 100px; }

.load-complete {
  border-color: #5cb85c;
  margin-bottom: 17.5px;
  border: 3px solid #5cb85c;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%; }

.load-complete {
  width: 35px;
  height: 35px; }

.load-complete-large {
  width: 100px;
  height: 100px; }

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg); }

.checkmark:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  opacity: 1;
  height: 15.90909px;
  width: 8.83838px;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 6.41667px;
  top: 15.90909px;
  position: absolute; }

.errormark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: dash;
  transform: scaleX(-1) rotate(135deg); }

.errormark:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: dash;
  transform: scaleX(-1) rotate(135deg);
  opacity: 1;
  height: 15.90909px;
  width: 8.83838px;
  transform-origin: left top;
  border-right: 3px solid #fd3300;
  border-top: 3px solid #fd3300;
  content: '';
  left: 6.41667px;
  top: 15.90909px;
  position: absolute; }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 8.83838px;
    opacity: 1; }
  40% {
    height: 15.90909px;
    width: 8.83838px;
    opacity: 1; }
  100% {
    height: 15.90909px;
    width: 8.83838px;
    opacity: 1; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.logo {
  width: 150px; }

/* Navigation override */
.navbar, .navbar-nav {
  background-color: #3E6866 !important; }

.nav-link-text {
  color: #FFFFFF; }

.breadcrumb {
  background-color: #50C1AE !important; }

/* Form Definition styles */
#FieldRules [class*="col-"],
#CalculationRules [class*="col-"],
#DisplayRules [class*="col-"],
#ValidationRules [class*="col-"],
#WorkflowRules [class*="col-"] {
  margin: 20px 0 20px 0; }

#renderDiv [class*="col-"] {
  margin: 5px 0 5px 0;
  vertical-align: middle;
  line-height: 25px; }

input[type="checkbox"] {
  width: 20px;
  height: 20px; }

input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 2px; }

.tooltip > .tooltip-inner {
  background-color: white;
  color: black;
  border: 1px solid darkgrey;
  padding: 10px;
  font-size: 16px; }

.move {
  cursor: move;
  cursor: -webkit-grabbing; }

fieldset.group-border {
  border: 1px solid lightgrey !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0.5em !important; }

legend.group-border {
  width: auto;
  padding: 10px;
  border-bottom: none; }

fieldset.group-border-full {
  border: 1px solid lightgrey !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0.5em !important; }

legend.group-border-full {
  width: auto;
  padding-top: 10px;
  border-bottom: none; }

.bgprimary {
  background-color: #008AC0; }

.bgprimary:hover {
  background-color: #004136; }

input[type=text]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button; }

#jsondoc {
  margin: 10px;
  background-color: white;
  font-family: Courier New, Courier, monospace;
  overflow: auto;
  color: #3498db;
  font-weight: bold; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap; }

#toast #img {
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff; }

#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap; }

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 60px;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 60px;
    opacity: 0; } }

table#dataTable {
  border-collapse: collapse; }

#dataTable tr {
  background-color: #eee;
  border-top: 1px solid #fff; }

#dataTable tr:hover {
  background-color: #ccc; }

#dataTable th {
  background-color: #fff; }

#dataTable th, #dataTable td {
  padding: 3px 5px; }

#dataTable td:hover {
  cursor: pointer; }

table#issueDetails {
  border-collapse: collapse; }

#issueDetails tr {
  background-color: #eee;
  border-top: 1px solid #fff; }

#issueDetails th {
  background-color: #fff; }

#issueDetails th, #issueDetails td {
  padding: 3px 5px; }

#issueDetails td:hover {
  background-color: #ccc;
  cursor: pointer; }

.sidenav-second-level a {
  padding: 2px 2px 2px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: compact;
  transition: 0.3s; }

a {
  color: #111; }

.btn-primary {
  background-color: #50C1AE !important; }

.btn-primary:hover {
  background-color: #3E6866 !important; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green !important; }

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25); }

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; }

.scroll {
  max-height: 200px;
  overflow-y: auto; }

.rl-hoverable:hover {
  background-color: #EDEDED; }

.button_class {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white; }

.button_class_left {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white; }

.nav-tabs li.active a {
  display: block;
  background-color: #50C1AE !important; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #50C1AE;
  border-color: #1861ac; }

.breadcrumb {
  background-color: #50C1AE !important; }

.resourcecell-sm {
  width: 5%; }
