@inherits LayoutComponentBase

<PageTitle>Oversteer</PageTitle>

<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
