<div class="row title">
    <div class="col-sm-10 ">
        <h4>Rules</h4>
    </div>
</div>

@*<div class="form-group row">
    <label class="col-form-label">Details</label>
    <TextEditor Toolbar="new Toolbar { ShowFullToolbar=true }" EditorContainerId="TestId" @ref="@DetailsEditor"
                Placeholder="Describe your awesome championship here...">
        <EditorContent>
            @((MarkupString)Championship.Details)
        </EditorContent>
    </TextEditor>
</div>

<div class="form-group row">
    <label class="col-form-label">Rules</label>
    <TextEditor Toolbar="new Toolbar { ShowFullToolbar=true }" EditorContainerId="TestId" @ref="@RulesEditor"
                Placeholder="Enter your rules here...">
        <EditorContent>
            @((MarkupString)Championship.Rules)
        </EditorContent>
    </TextEditor>
</div>
*@